<footer class="footer">
        
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        TRANG CHỦ
                    </a>
                </li>
                <li>
                    <a href="#func1">
                        TÍNH NĂNG
                    </a>
                </li>
                <li>
                    <a href="#guide">
                        HƯỚNG DẪN
                    </a>
                </li>
                <li>
                    <a href="#price">
                        GIÁ THUÊ
                    </a>
                </li>
            </ul>
        </nav>
        <img class="img_footer hidden-xs" src="images/footer_tablet.png">
        <div class="social-area pull-right">
            <a href="">
                <span class="icon-facebook"></span>
            </a>
            <!-- <a href="">
                    <span class="icon-mail"></span>
            </a> -->
            <a href="">
                <span class="icon-hotline"></span></a>
        </div>
        <div class="copyright">
            &copy; 2018 <a href="#">ShopeeLike Team</a>, đồng hành là cách để thành công
        </div>
    </div>
</footer>