<%if (typeof title === 'undefined' || !title)  { %>
    <title>ShopeeLike</title>
<% } else { %>
    <title><%- title%></title>
<% } %>
<meta name="description" content="Đến với ShopeeLike, bạn sẽ được sử dụng miễn phí phần mềm trao đổi tự động theo dõi và yêu thích sản phẩm trên SHOPEE. Trao đổi sub trên shopee , tăng lượt theo dõi trên shopee , tăng sub trên shopee , shopee like , hack theo dõi shopee">
<meta property="og:locale" content="vi_VN" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Đến với ShopeeLike, bạn sẽ được sử dụng miễn phí phần mềm trao đổi tự động theo dõi và yêu thích sản phẩm trên SHOPEE. Trao đổi sub trên shopee , tăng lượt theo dõi trên shopee , tăng sub trên shopee , shopee like , hack theo dõi shopee" />
<meta property="og:site_name" content="Shopee Like" />
<meta property="og:image" content="https://4.bp.blogspot.com/-Z4tDZNmgFbE/W4zTOyC_09I/AAAAAAAABKw/2ZuounXhCGUu9fS1e8zG6sYcI0Jbb0NkQCLcBGAs/s1600/Shopee%2B%25282%2529.png">
